%li.list-group-item.row
  .col-xs-2
    = link_to stared_repo.name, stared_repo.html_url, target: :'_blank'
  .col-xs-4
    = stared_repo.description
  .col-xs-5
    = form_for stared_repo, data: { remote: true } do |f|
      = f.text_field :user_tag_list, class: 'repo-tags'
  .col-xs-1
    %span.badge
      %span.glyphicon.glyphicon-star
      = stared_repo.stargazers_count
